a, a img
{
	text-decoration : none;
	border-width : 0px;
}


.spacer
{
	clear : both;
	height : 0px;
}

.startDate, .endDate
{
	height : 16px;
}

a.edit
{
	float : right;
}

.errors
{
	color : red;
}

.minimized
{
	float : left;
	text-align : center;
}

.divMinimized
{
	padding : 0px;
	margin : 0px;
}