.divRelease
{
	border : solid 1px black;
	width : 75%;
	float : left;
	margin : 10px;
	padding : 3px;
}

.divRelease .header
{
	padding : 3px;	
}

.divRelease .header h4
{
	margin : 2px;
	text-align :center;
}

.divRelease .header .description
{
	margin-top : 5px;
	font-weight : normal;
	border-width : 0px;
}

.divRelease > .content
{
	border : solid 1px grey;
	padding : 3px;
	margin : 3px;
}

.divRelease .content h4
{
	margin : 2px;
	text-align :center;
	border-bottom : dotted 1px grey;
	padding-left : 3px;
	padding-right : 3px;	
}