.divSprint
{
	border : solid 1px black;
	width : 75%;
	float : left;
	margin : 10px;
	padding : 3px;
}

.divSprint .header h4
{
	margin : 2px;
}

.divSprint .header
{
	padding : 3px;	
}

.divSprint > .content
{
	border : solid 1px grey;
	padding : 3px;
	margin : 3px;
}

.divSprint .stories
{
	padding : 3px;
}

.story
{
	border-style : solid;
	border-width : 3px;
	-moz-border-radius-topright : 0.8em; 
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

h2
{
	text-align : center;
	margin-bottom : 5px;
}

h3
{
	text-align : center;
	border : solid 1px black;
	background-color : lightyellow;
	width : 90%;
	display : block;
	margin : auto;
	margin-top :0px;
	margin-bottom :10px;
	margin-bottom :10px;
}