.divSprint
{
	float : left;
	width : 200px;
}

.divSprint .header h4
{
	margin : 2px;
}

.divSprint .header h5
{
	margin-top : 2px;
	font-weight : normal;
	border-width : 0px;
}

.divSprint .header h5.PLANIFIED
{
	font-style : italic;
}

.divSprint .header h5.WIP,
.divSprint .header h5.FAILED,
.divSprint .header h5.PASSED,
.divSprint .header h5.FINISHED 
{

}

.divSprint .header
{
	border-left : solid 2px black;
	border-right : solid 2px black;
	padding : 5px;
}

.divSprint .content
{
	padding : 3px;
	border-left : solid 2px black;
	border-right : solid 2px black;	
}

.divSprint .divStory
{
	margin-bottom : 5px;
}

.divSprint .stories
{
	border-left : solid 2px black;
	border-right : solid 2px black;
	padding : 5px;
}

.storiesList
{
	border-collapse : collapse;
	width : 90%;
	padding : 2px;
}

.draggable
{
	height : 35px;
	margin : 2px;
	padding : 2px;
}

.story
{
	border-style : solid;
	border-width : 3px;
	-moz-border-radius-topright : 0.8em; 
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 3px;
}

span.title
{
	text-align : center;
	display : block;
	margin : auto;
}

.count
{
	float : right;
	padding-right : 10px;
	padding-top : 3px;
}

.item
{
	cursor : move;
	display : block;
	width : 80%;
	padding-top : 3px;
}

.placeholder
{
	background: #f0f0f0;
	border : 1px dashed #ddd;
}

h2
{
	text-align : center;
	margin-bottom : 5px;
}

h3
{
	text-align : center;
	border : solid 1px black;
	background-color : lightyellow;
	width : 90%;
	display : block;
	margin : auto;
	margin-top :0px;
	margin-bottom :10px;
	margin-bottom :10px;
}