.divStory
{
	border : solid 1px black;
	width : 75%;
	float : left;
	margin : 10px;
	padding : 3px;
	/*border-style : solid;
	border-width : 2px;
	border-color : grey;*/
}

.divStory .header
{
	padding : 3px;	
}

.divStory .header h4
{
	margin : 2px;
	text-align :center;
}

.divStory .header .description
{
	margin-top : 5px;
	font-weight : normal;
	border-width : 0px;
}

.divStory .content
{

}

.divStory .points
{
	float : right;
}